---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'label'
    value: page.label
  - label: 'type'
    value: page.type
  - label: 'description'
    value: page.description
  - label: 'date_created'
    value: page.date_created
  - label: 'temporal_coverage'
    value: page.temporal_coverage
  - label: 'creator'
    value: page.creator
  - label: 'country_of_origin'
    value: page.country_of_origin
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
